<div class="zp-container main-container liquid-container ember-view">
    <div class="liquid-child ember-view" style="top: 0px; left: 0px; opacity: 1;">
        <div class="zp-container liquid-container ember-view">
            <div class="liquid-child ember-view" style="top: 0px; left: 0px; opacity: 1;">
                <div class="ember-view">
                    <div class="fill header add-employee-header add-employee-header-ind">
                        <div class="add-employee-wizard">
                            <h3 class=" text-center">ADD EMPLOYEE</h3>
                        </div>
                        </div>
                        <div class="fill body content scrollbox">
                            <form class="form-horizontal employee-form">
                                <div class="ember-view">
                                    <div class="section">
                                        <div class="row form-group inline-fields">
                                            <label class="col-12">Name
                                                <span class="mandatory-field">*</span>
                                            </label>
                                            <div class="col-4">
                                                <input placeholder="Name" class="form-control ember-text-field ember-view" type="text">
                                            </div>
                                            <div class="col-4">
                                                <input placeholder="Name" class="form-control ember-text-field ember-view" type="text">
                                            </div>
                                            <div class="col-4">
                                                <input placeholder="Name" class="form-control ember-text-field ember-view" type="text">
                                            </div>
                                        </div>
                                        <div class="row form-group inline-fields">
                                            <label class="col-6">Gender
                                                <span class="mandatory-field"></span>
                                            </label>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div ngbDropdown class="d-inline-block">
                                                        <button type="button" class="btn btn-outline border" id="dropdownBasic1" ngbDropdownToggle>
                                                            Toggle dropdown
                                                        </button>
                                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                            <button ngbDropdownItem>Action - 1</button>
                                                            <button ngbDropdownItem>Another Action</button>
                                                            <button ngbDropdownItem>Something else is here</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

