input{
    background-color: #f5f8fa;
    border: none;
    border-radius: 5px;
    height: 32px;
    outline: none;
}
.ft-input-value {
    background-color: #f5f8fa00;
    border: none;
    height: 32px;
    outline: none;
    width: 100%;
    padding-left: 4px;
    border-left: solid #E77817 2px !important;
    color: #5E6278 !important;
    border-radius: 3px;
    font-size: 14px;
    border: solid #e3e3e3 1px;
}