<div class="container section">
    <form class="font-xs"> 
        <div class="row form-group">
            <label class="col-3">Phone Number
                <span class="mandatory-field">*</span>
                <input placeholder="9876543210"  class="ft-input-value" type="number">
                <div class="text-danger" >
                    <label for="" >Mobile Number is Required</label>
                </div>
            </label>
            <label class="col-3">Name
                <span class="mandatory-field">*</span>
                <input placeholder="parthiban"  class="ft-input-value" type="text">
                <div class="text-danger" >
                    <label for="" >Name is Required</label>
                </div>
            </label>
            <label class="col-3">Age
                <span class="mandatory-field">*</span>
                <input placeholder="67"  class="ft-input-value" type="number">
                <div class="text-danger" >
                    <label for="" >Age is Required</label>
                </div>
            </label>
            <label class="col-3">ID
                <span class="mandatory-field">*</span>
                <input placeholder="kj"  class="ft-input-value" type="text">
                <div class="text-danger" >
                    <label for="" >ID is Required</label>
                </div>
            </label>
        </div>
        <div class="row form-group">
            <label class="col-12">Address
                <span class="mandatory-field">*</span>
                <input placeholder="23,kovil street" class="ft-input-value" type="text">
                <div class="text-danger">
                    <label for="" > Address is required</label>
                </div>
            </label>
        </div>

    </form>
    
</div>
<div class="container section">
    <form>
        <table class="table zp-table table-responsive table-hover reports-table">
            <thead>
                <tr>
                    <th style="width:5%;">S.No</th>
                    <th style="width: 29%;">Product Name</th>
                    <th> Exp date</th>
                    <th>Quality</th>
                    <th>Unit Price</th>
                    <th>Discount(%)</th>
                    <th>Tax(%)</th>
                    <th>Net Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th style="width:5%;"><input type="text" class="form-control"></th>
                    <th style="width: 29%;"><input type="text" class="form-control"></th>
                    <th> <input type="text" class="form-control"></th>
                    <th><input type="text" class="form-control"></th>
                    <th><input type="text" class="form-control"></th>
                    <th><input type="text" class="form-control"></th>
                    <th><input type="text" class="form-control"></th>
                    <th><input type="text" class="form-control"></th>
                </tr>
            </tbody>
        </table>
    </form>
</div>
