<div class="container">
    <div class="fill body payslip-list-body scroll scrollbox ">
      <table class="table zp-table paystub-table">
        <thead>
          <tr>
            <th>SI.No</th>
            <th  *ngFor="let thead of tconfig.config" appTablesort  >{{thead.title}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tbody of data | paginate: { itemsPerPage: count, currentPage: page }">
            <td *ngFor="let tdata of tconfig.config">
                <span class="status-label align-text-top"> {{tbody[tdata.tbody]}}</span>
            </td>
          </tr>
        </tbody>
        <tfoot >
        </tfoot>
      </table>
      <div class="text-right">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>


