
  <div class="emp-profile-card">
    <h5 class="emp-profile-card-header payment-detail-header">
        User Management        
        <span class="pull-right">
           <button class="btn btn-light btn-lg" (click)="triggerRefresh()"><i class="fa fa-refresh"></i></button>
          <button class="btn btn-light btn-lg" (click)="isFilterEnabled=!isFilterEnabled"><i class="{{isFilterEnabled ? 'fa fa-close' : 'fa fa-filter'}}"></i></button>
        </span>
      </h5>

    </div>
    <div class="fill body payslip-list-body scroll scrollbox ">
      <table class="table zp-table paystub-table">
        <thead class="bg-light">
          <tr>
            <th  *ngFor="let thead of tconfig.config" appTablesort  >{{thead.title | uppercase}}</th>
          </tr>
          <tr *ngIf="isFilterEnabled">
            <th *ngFor="let thead of tconfig.config">
              <input type="search" class="form-control form-control-sm">
            </th>
          </tr>
        </thead>
        <tbody *ngIf="data.length > 0 || data.length != null">
          <tr *ngFor="let tbody of data | paginate: { itemsPerPage: count, currentPage: page } let i = index">
            <td *ngFor="let tdata of tconfig.config">
                <span class="status-label align-text-top"> {{tbody[tdata.tbody]}}</span>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="data.length == 0 || data.length == null">
            <tr>
              <td [attr.colspan]=colspan class="text-center">
                <span class="status-label align-text-top">No Result Found</span></td>
            </tr>
          </tbody>

        <tfoot >
        </tfoot>
      </table>
      <div class="text-right">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>


