<div class="ember-view">
    <div class="sidebar">
        <div>
            <div class="employee-detail">
                <div class="ember-view">
                    <img class="profile-img" src="../../../assets/images/profile.png">
                </div>
                <div class="name">Parthiban</div>
                <a class="font-small" style="color:#61a1ff" routerLink="/userprofile">View My Profile</a>
            </div>
            <ul class="nav flex-column nav-sidebar">
                <li class="active ember-view nav-item">
                    <a href="" routerLink="/dashboard" [routerLinkActive]="'active'" class="ember-view nav-link">
                        <img class="icon icon-lg" src="../../../assets/images/dashboard-icon.png">
                        Dashboard
                    </a>
                </li>
                <li class="ember-view nav-item">
                    <a routerLink="/users" class="ember-view nav-link" [routerLinkActive]="'active'">
                        <img class="icon icon-lg" src="../../../assets/images/user-mgm-icon.png">
                        Users
                    </a>
                </li>
                <li class="ember-view nav-item">
                    <a routerLink="/vendors" class="ember-view nav-link" [routerLinkActive]="'active'">
                        <img class="icon icon-lg" src="../../../assets/images/vendor-icon.png">
                        Vendors
                    </a>
                </li>
                <li class="ember-view nav-item" [routerLinkActive]="'active'">
                    <a routerLink="/billing" class="ember-view nav-link">
                        <img class="icon icon-lg" src="../../../assets/images/cust-icon.png">
                        Bills
                    </a>
                </li>
                <li class="ember-view nav-item" [routerLinkActive]="'active'">
                    <a routerLink="/billing" class="ember-view nav-link">
                        <img class="icon icon-lg" src="../../../assets/images/product-icon.png">
                        Bill Management
                    </a>
                </li>
            </ul>
        </div>
        
            <div class="user-action-container" [routerLinkActive]="'active'">
                <div class="user-action-item">
                    <a href="">
                        <img class="icon icon-lg" src="../../../assets/images/log-out-icon.png">
                        Log Out
                    </a>
                </div>
            </div>
        
    </div>
</div>
<app-userprofile *ngIf="viewProfile" (closeprofile)="viewprofile()"></app-userprofile>